My workflow (1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "40890acb-8892-4cc0-9e02-63ce368b0d28",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1YIVb-yqaBJ7fM96cwPP_cBAOf7uqShrf--8NEQiLJbY",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YIVb-yqaBJ7fM96cwPP_cBAOf7uqShrf--8NEQiLJbY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1610039445,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YIVb-yqaBJ7fM96cwPP_cBAOf7uqShrf--8NEQiLJbY/edit#gid=1610039445"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "1d927ebb-0133-4fd4-b0e3-d1fc4cb1034f",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BKGg2amY0Mq7srLa",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "43f29df5-59d6-45ec-b252-6cd3e55970e5",
              "name": "run_id",
              "value": "={{\"RUN_\" + Date.now()}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "89aab29f-3e10-4689-99f8-d6cc6689d5fc",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        832,
        208
      ],
      "id": "f73e2f93-cece-47bf-9c82-3d1e7362c8a0",
      "placeholder": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "25f32f25-9b36-4e7a-b759-e9249c32fca8",
              "leftValue": "={{$json.Email}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "5c37c81b-d726-4080-ba24-a1b3c79ea779",
              "leftValue": "={{$json.Name}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        16
      ],
      "id": "7df1700a-df1c-45a9-a2f6-be1667dc6a86",
      "name": "If"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1YIVb-yqaBJ7fM96cwPP_cBAOf7uqShrf--8NEQiLJbY",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YIVb-yqaBJ7fM96cwPP_cBAOf7uqShrf--8NEQiLJbY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1610039445,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YIVb-yqaBJ7fM96cwPP_cBAOf7uqShrf--8NEQiLJbY/edit#gid=1610039445"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{$json.Email}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        -48
      ],
      "id": "d0414736-881e-4f53-9f57-d2dacf0e7fb4",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BKGg2amY0Mq7srLa",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "33854d60-60b4-4656-b94a-41627dd84963",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        899,
        -48
      ],
      "id": "3a5f01a7-cc84-4136-a15a-cb0b405a70ad",
      "name": "If1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b73717fd-c128-4d92-94f1-e888760a3d24",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "22d1ae9cdc09241db6ef6b7aae7b6672648627f240e2710d4b2d62bd037b0ceb"
  },
  "nodeGroups": [],
  "id": "dyIcDt6bZjiEzt1R",
  "tags": []
}